<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        
        .fav{
            background-color: rgb(93, 138, 25);
            text-align: center;
            height: 100%;
            width: 100%;

        }
        .fav li{
            color: aliceblue;
            font-size: 20px;
            font-weight: bold;
        }

    </style>
</head>
<body>
    <div class="fav">
       
            <ul>
                {% for i in favports%}
                <li>{{i}}</li>
                {% endfor %}

            </ul>
        
    </div>
</body>
</html>